@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

@tailwind base;

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: #848188;
  opacity: 0.4;
  border-radius: 100vh;
}

*::-webkit-scrollbar-thumb:hover {
  opacity: 0.5;
}

@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-hidden {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
  }
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
  }
}